{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2">
           <div class="list-group">
					<a href="/settings/profile" class="list-group-item">Profile</a>
					<a href="/settings/account" class="list-group-item">Account</a>
					<a href="/settings/following" class="list-group-item">Following</a>
					<a href="/settings/follows" class="list-group-item">Follows</a>
					<a href="/settings/donate" class="list-group-item active">Donate</a>
		   </div>
        </div>
        <div class="col-md-9">
			<div class="panel panel-success">
				<div class="panel-heading">Donate</div>
				<div class="panel-body">
					Now you can join us just donate 5$!When an opportunity is neglected, it never comes back to you!
					<a href = "#"><img src = "/static/pic/donate.jpg"></img></a>
				</div>
			</div>
        </div>
      </div>
</div>
{% endblock %}