{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">Users</div>
				<div class="panel-body">

					</br>
					
					<div class="row">
					  <div class="col-sm-6 col-md-4">
					  
						<div class="thumbnail">							
							<div class="row">
								<div class="col-md-3">
									<!--Profile picture-->
									<img src="/static/pic/icon.jpg" height="80" width="80"></img>
								</div>
								<div class="col-md-9">
									<div class="col-md-4">
										<!--<img src="/static/pic/icon.jpg" height="16" width="16"></img>-->
										<a class="text-left" href=""><h5><b>Jubin</b></h5></a>
									</div>
									
									<div class="col-md-7">

									</div>
									
									<div class="col-md-12">
											<label for="friendcard" id="email"><h5><small><span class="glyphicon glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;605276362@qq.com</small></h5></label>
									</div>
									
									<div class="row">
										<div class="col-md-8 col-md-offset-3">
											<button type="submit" class="btn btn-warning btn-block" id="Freeze"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp; Freeze</button>
										</div>
									</div>
									
								</div>
							</div>	
						</div>
						
					  </div>
					  
					  <div class="col-sm-6 col-md-4">
					  
						<div class="thumbnail">							
							<div class="row">
								<div class="col-md-3">
									<!--Profile picture-->
									<img src="/static/pic/icon.jpg" height="80" width="80"></img>
								</div>
								<div class="col-md-9">
									<div class="col-md-4">
										<!--<img src="/static/pic/icon.jpg" height="16" width="16"></img>-->
										<a class="text-left" href=""><h5>WangZ</h5></a>
										<span class="label label-info">Frozen</span>

									</div>
									
									<div class="col-md-7">

									</div>
									
									<div class="col-md-12">
											<label for="friendcard" id="email"><h5><small><span class="glyphicon glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;fangchan@wz.cn</small></h5></label>
									</div>
									
									<div class="row">
										<div class="col-md-8 col-md-offset-3">
											<button type="submit" class="btn btn-info btn-block" id="Freeze"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp; Free</button>
										</div>
									</div>
									
								</div>
							</div>	
						</div>
						
					  </div>
					  
					</div>

				</div>
			</div>
        </div>
      </div>
    </div>


{% endblock %}