{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2">
           <div class="list-group">
					<a href="#" class="list-group-item">Profile</a>
					<a href="#" class="list-group-item active">Account</a>
					<a href="#" class="list-group-item">Friend</a>
					<a href="#" class="list-group-item">Donate</a>
		   </div>
        </div>
        <div class="col-md-9">
			<div class="panel panel-success">
				<div class="panel-heading">Account</div>
				<div class="panel-body">

					</br>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="InputOld_password">Old password</label>
								<input type="password" class="form-control" id="Old_password" placeholder="Enter old password">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="InputNew_password">New password</label>
								<input type="password" class="form-control" id="New_password" placeholder="Enter new password">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="InputConfirm_password">Confirm new password</label>
								<input type="password" class="form-control" id="Confirm_password" placeholder="Enter confirm password">
							</div>
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block" id="Update">Update password</button>
							</div>
						</div>
					</div>
					
				</div>
			</div>
        </div>
      </div>
    </div>
{% endblock %}
