{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">Message</div>
				<div class="panel-body">

					<ul class="nav nav-tabs" role="tablist">
					  <li role="presentation"  class="active"><a href="#">@me <span class="badge" id="friendnum">1</span></a></li>
					  <li role="presentation"><a href="/message/commit">Commit <span class="badge" id="friendnum">2</span></a></li>
					  <li role="presentation"><a href="/message/letter">Personal letter</a></li>
					</ul>
					
					</br>
					
					<div class = "row">
					{% for post in posts %}
					<div class="col-md-12">
						<div class="thumbnail">	
							<div class = "row">
								<div class="col-md-1">
									<img src="/static/pic/icon.jpg" height="64" width="64" href=""></img>					
								</div>
								<div class="col-md-11">
									<div class="row">
										<div class="col-md-6">
											<a class="text-left" href="/homepage?uid={{post.susername}}"><h4><b>{{post.susername}}</b></h4></a>
										</div>
										<div class="col-md-3 col-md-offset-3">
											<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label ><h4>@{{post.rusername}}</h4></label>
										</div>
									</div>
								</div>
								
								<div class="col-md-2 col-md-offset-3">
									<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-new-window"></span> Forward!</b></h5></a>
								</div>
								<div class="col-md-2">
									<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-pencil"></span> Commit!</b></h5></a>
								</div>
                                <div class="col-md-2">
                                    <a class="text-left" href="#"><h5><b onclick="javascript:if(document.getElementById('{{post.potime}}').className == 'glyphicon glyphicon-star-empty'){document.getElementById('{{post.potime}}').className = 'glyphicon glyphicon-star'}else{document.getElementById('{{post.potime}}').className = 'glyphicon glyphicon-star-empty'} ; return false" ><span id = "{{post.potime}}" class="glyphicon glyphicon-star-empty"></span> Collect!</b></h5></a>
                                </div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				</div>
			</div>
        </div>
      </div>
    </div>


{% endblock %}