{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2">
           <div class="list-group">
					<a href="/settings/profile" class="list-group-item">Profile</a>
					<a href="/settings/account" class="list-group-item">Account</a>
					<a href="/settings/following" class="list-group-item">Following</a>
					<a href="/settings/follows" class="list-group-item active">Follows</a>
					<a href="/settings/donate" class="list-group-item">Donate</a>
		   </div>
        </div>
        <div class="col-md-9">
			<div class="panel panel-success">
				<div class="panel-heading">Follows</div>
				<div class="panel-body">

					</br>
					
					<div class="row">
					  <div class="col-sm-6 col-md-4">
					  
						<div class="thumbnail">							
							<div class="row">
								<div class="col-md-3">
									<!--Profile picture-->
									<img src="/static/pic/icon.jpg" height="80" width="80"></img>
								</div>
								<div class="col-md-9">
									<div class="col-md-4">
										<!--<img src="/static/pic/icon.jpg" height="16" width="16"></img>-->
										<label for="friendcard" id="nickname"><b><h5>Jubin</h5></b></label>
									</div>
									
									<div class="col-md-7">

									</div>
									
									<div class="col-md-12">
											<label for="friendcard" id="email"><h5><small><span class="glyphicon glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;605276362@qq.com</small></h5></label>
									</div>
									
									<div class="row">
										<div class="col-md-8 col-md-offset-3">
											<button type="submit" class="btn btn-success btn-block" id="Unfollow"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;&nbsp; Unfollow</button>
										</div>
									</div>
									
								</div>
							</div>	
						</div>
						
					  </div>
					  
					  <div class="col-sm-6 col-md-4">
					  
						<div class="thumbnail">							
							<div class="row">
								<div class="col-md-3">
									<!--Profile picture-->
									<img src="/static/pic/icon.jpg" height="80" width="80"></img>
								</div>
								<div class="col-md-9">
									<div class="col-md-4">
										<!--<img src="/static/pic/icon.jpg" height="16" width="16"></img>-->
										<label for="friendcard" id="nickname"><b><h5>Wiki_ki</h5></b></label>
									</div>
									
									<div class="col-md-7">

									</div>
									
									<div class="col-md-12">
											<label for="friendcard" id="email"><h5><small><span class="glyphicon glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;wkzhu11@fudan.edu.cn</small></h5></label>
									</div>
									
									<div class="row">
										<div class="col-md-8 col-md-offset-3">
											<button type="submit" class="btn btn-primary btn-block" id="follow"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp; Follow</button>
										</div>
									</div>
									
								</div>
							</div>	
						</div>
						
					  </div>
					  
					</div>

				</div>
			</div>
        </div>
      </div>
    </div>


{% endblock %}