{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class = "container-fluid">
	<div class = "row">
		<div class="col-sm-3 col-md-3">
			<div class="thumbnail">	
				<img src="{{ ret.url }}" height="256" width="256"></img>
				<div class="row">
					<div class="col-md-11 col-md-offset-1">
						<!--Profile picture-->
						<div class="row">
							<div class="col-md-5">
								<h3>{{ ret.nickname }}&nbsp;<small><span class="label label-warning">Credit&nbsp; <span class="badge">{{ ret.point}}</span></span></small></h3>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-5">
								<h4>{{ ret.username}}</h4>
								<!--<h4>{{ ret.point}} </h4>-->
							</div>
							<div class="col-md-6">
							<form role = "form" action = "/addfriend" method="post">
								<input type="text" class="form-control" name = "followname" value="{{ ret.username }}" style="display:none;"> 
								<button type="submit" class="btn btn-{{color}} btn-block" id="follow" style="display:{{display}};"><span class="glyphicon glyphicon-eye-{{typed}}"></span>&nbsp;&nbsp; {{relation}}</button>
							</div>
							</form>
						</div>
					</div>	
					<div class="col-md-11 col-md-offset-1">
						<a for="friendcard" id="email" href="/sendmessage"><h5><small><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ ret.email }}</small></h5></a>
					</div>
				</div>
				<div class="row">

					<div class="col-md-3  col-md-offset-1">
						<div class="col-md-12">
							<a class="text-center" id="Follownum" href="/settings/follows"><h3>{{follows}}</h3></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12">
							<a class="text-center" id="Topicnum"  href="#"><h3>{{topic}}</h3></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12">
							<a class="text-center" id="Followingnum"  href="/settings/following"><h3>{{following}}</h3></a>
						</div>
					</div>				
				</div>
				<div class="row">
					<div class="col-md-3  col-md-offset-1">
							<p class="text-center"><h5><small>Follows</small></h5></p>
					</div>
					<div class="col-md-3">
							<p class="text-center"><h5><small>&nbsp;&nbsp;Topics</small></h5></p>
					</div>
					<div class="col-md-3">
							<p class="text-center"><h5><small>Following</small></h5></p>
					</div>							
				</div>
				
			</div>
		</div>
		<div class = "col-sm-12 col-md-7">
			
			<div class = "row">
				<div class="col-md-12">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#">Home</a></li>
						<li role="presentation"><a href="#">Favorite</a></li>
						<li role="presentation"><a href="#">Group</a></li>
					</ul>
				</div>
			</div>
			</br>
			<div class = "container" id = "bigtable">
				{% for post in posts %}
				<div class = "row">
					<div class="col-md-7">
						<div class="thumbnail">	
							<div class = "row">
								<div class="col-md-1">
									<img src="{{ ret.url }}" height="48" width="48" href=""></img>					
								</div>
								<div class="col-md-11">
									<div class="row">
										<div class="col-md-6">
											<a class="text-left" href="/homepage?uid={{post.username}}"><h4><b>{{post.username}}</b></h4></a>
										</div>
										<div class="col-md-3 col-md-offset-3">
											<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label ><h4>{{post.content}}</h4></label>
										</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<p class="text-center"><h5><small>{{post.potime}}</small></h5></p>
								</div>
                                <div class="col-md-2 col-md-offset-3">
                                    <a class="text-left" href="/forward?id={{post.idweibo}}"><h5><b onclick="javascript:alert('转发成功！')"><span class="glyphicon glyphicon-new-window"></span> Forward!</b></h5></a>
                                </div>
								<div class="col-md-2">
									<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-pencil"></span> Commit!</b></h5></a>
								</div>
                                <div class="col-md-2">
                                    <a class="text-left" href="#"><h5><b onclick="javascript:if(document.getElementById('{{post.potime}}').className == 'glyphicon glyphicon-star-empty'){document.getElementById('{{post.potime}}').className = 'glyphicon glyphicon-star'}else{document.getElementById('{{post.potime}}').className = 'glyphicon glyphicon-star-empty'} ; return false" ><span id = "{{post.potime}}" class="glyphicon glyphicon-star-empty"></span> Collect!</b></h5></a>
                                </div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class = "col-md-2"></div>
	</div>
</div>


{% endblock %}