{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class = "container-fluid">
	<div class = "row">
		<div class="col-sm-3 col-md-3">
			<div class="thumbnail">	
				<img src="/static/pic/icon.jpg" height="256" width="256"></img>
				<div class="row">
					<div class="col-md-11 col-md-offset-1">
						<!--Profile picture-->
						<h3>{{ ret.nickname }}</h3>
						<h4> {{ ret.username}}</h4>
					</div>	
					<div class="col-md-11 col-md-offset-1">
						<label for="friendcard" id="email"><h5><small><span class="glyphicon glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ ret.email }}</small></h5></label>								
					</div>
				</div>
				<div class="row">

					<div class="col-md-3  col-md-offset-1">
						<div class="col-md-12">
							<a class="text-center" id="Follownum" href="/settings/follows"><h3>2</h3></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12">
							<a class="text-center" id="Topicnum"  href="#"><h3>1</h3></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12">
							<a class="text-center" id="Followingnum"  href="/settings/following"><h3>3</h3></a>
						</div>
					</div>				
				</div>
				<div class="row">
					<div class="col-md-3  col-md-offset-1">
							<p class="text-center"><h5><small>Follows</small></h5></p>
					</div>
					<div class="col-md-3">
							<p class="text-center"><h5><small>&nbsp;&nbsp;Topics</small></h5></p>
					</div>
					<div class="col-md-3">
							<p class="text-center"><h5><small>Following</small></h5></p>
					</div>							
				</div>
				
			</div>
		</div>
		<div class = "col-sm-12 col-md-7">
			
			<div class = "row">
				<div class="col-md-12">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#">Home</a></li>
						<li role="presentation"><a href="#">Favorite</a></li>
						<li role="presentation"><a href="#">Group</a></li>
					</ul>
				</div>
			</div>
			</br>
			<div class = "container" id = "bigtable">
				{% for post in posts %}
				<div class = "row">
					<div class="col-md-7">
						<div class="thumbnail">	
							<div class = "row">
								<div class="col-md-1">
									<img src="/static/pic/test.jpg" height="48" width="48" href=""></img>					
								</div>
								<div class="col-md-11">
									<div class="row">
										<div class="col-md-6">
											<a class="text-left" href=""><h4><b>{{nickname}}</b></h4></a>
										</div>
										<div class="col-md-3 col-md-offset-3">
											<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label ><h4>{{post.content}}</h4></label>
										</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<p class="text-center"><h5><small>{{post.potime}}</small></h5></p>
								</div>
								<div class="col-md-2 col-md-offset-3">
									<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-new-window"></span> Forward!</b></h5></a>
								</div>
								<div class="col-md-2">
									<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-pencil"></span> Commit!</b></h5></a>
								</div>
								<div class="col-md-2">
									<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-star"></span> Collect!</b></h5></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class = "col-md-2"></div>
	</div>
</div>


{% endblock %}