{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
		<div class="col-md-2 col-md-offset-9">
			<a type="button" class="btn btn-success btn-block" id="change" href="/square"><span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp; Change!</a>
		</div>
	</div>
	</br>
	<div class="row">
        <div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
				Maybe you like:
				</div>
				<div class="panel-body">

					</br>
					<div class="row">
						{% for post in posts1 %}
						<div class="col-sm-6 col-md-4">				  
							<div class="thumbnail">							
								<div class = "row">
									<div class="col-md-2">
										<img src="{{ post.url }}" height="48" width="48" href=""></img>					
									</div>
									<div class="col-md-10">
										<div class="row">
											<div class="col-md-6">
												<a class="text-left" href=""><h4><b>{{post.username}}</b></h4></a>
											</div>
											<div class="col-md-3 col-md-offset-3">
												<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label class="weibocontent"><h4>{{post.content}}</h4></label>
											</div>
										</div>
									</div>
									
									<div class="col-md-12">
										<p class="text-center"><h5><small>{{post.potime}}</small></h5></p>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-new-window"></span> Forward!</b></h5></a>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-pencil"></span> Commit!</b></h5></a>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-star-empty"></span> Collect!</b></h5></a>
									</div>
								</div>	
							</div>				
						 </div>
						 {% endfor %}
					</div>
					
					<div class="row">
						{% for post in posts2 %}
						<div class="col-sm-6 col-md-4">				  
							<div class="thumbnail">							
								<div class = "row">
									<div class="col-md-2">
										<img src="{{ post.url }}" height="48" width="48" href=""></img>					
									</div>
									<div class="col-md-10">
										<div class="row">
											<div class="col-md-6">
												<a class="text-left" href=""><h4><b>{{post.username}}</b></h4></a>
											</div>
											<div class="col-md-3 col-md-offset-3">
												<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label class="weibocontent"><h4>{{post.content}}</h4></label>
											</div>
										</div>
									</div>
									
									<div class="col-md-12">
										<p class="text-center"><h5><small>{{post.potime}}</small></h5></p>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-new-window"></span> Forward!</b></h5></a>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-pencil"></span> Commit!</b></h5></a>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-star-empty"></span> Collect!</b></h5></a>
									</div>
								</div>	
							</div>				
						 </div>
						 {% endfor %}
					</div>
					
					<div class="row">
						{% for post in posts3 %}
						<div class="col-sm-6 col-md-4">				  
							<div class="thumbnail">							
								<div class = "row">
									<div class="col-md-2">
										<img src="{{ post.url }}" height="48" width="48" href=""></img>					
									</div>
									<div class="col-md-10">
										<div class="row">
											<div class="col-md-6">
												<a class="text-left" href=""><h4><b>{{post.username}}</b></h4></a>
											</div>
											<div class="col-md-3 col-md-offset-3">
												<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label class="weibocontent"><h4>{{post.content}}</h4></label>
											</div>
										</div>
									</div>
									
									<div class="col-md-12">
										<p class="text-center"><h5><small>{{post.potime}}</small></h5></p>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-new-window"></span> Forward!</b></h5></a>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-pencil"></span> Commit!</b></h5></a>
									</div>
									<div class="col-md-4">
										<a class="text-left" href=""><h5><b><span class="glyphicon glyphicon-star-empty"></span> Collect!</b></h5></a>
									</div>
								</div>	
							</div>				
						 </div>
						 {% endfor %}
					</div>
				</div>
			</div>
        </div>
      </div>
    </div>


{% endblock %}