{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">Users</div>
				<div class="panel-body">

					</br>
					{% for post in posts %}
					<div class="row">
					  <div class="col-sm-6 col-md-4">
					  
						<div class="thumbnail">							
							<div class="row">
								<div class="col-md-3">
									<!--Profile picture-->
									<img src="{{post.url}}" height="80" width="80"></img>
								</div>
								<div class="col-md-9">
									<div class="col-md-4">
										<!--<img src="/static/pic/icon.jpg" height="16" width="16"></img>-->
										<a class="text-left" href="/homepage?uid={{post.username}}"><h5><b>{{post.username}}</b></h5></a>
									</div>
									
									<div class="col-md-7">

									</div>
									
									<div class="col-md-12">
											<label for="friendcard" id="email"><h5><small><span class="glyphicon glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{post.email}}</small></h5></label>
									</div>
									
									<div class="row">
										<div class="col-md-8 col-md-offset-3">
											<button type="submit" class="btn-warning" id = "{{post.username}}+{{post.nickname}}" onclick="javascript:if(document.getElementById('{{post.username}}').className == 'glyphicon glyphicon-remove-sign'){document.getElementById('{{post.username}}').className = 'glyphicon glyphicon-ok-sign';document.getElementById('{{post.username}}+{{post.nickname}}').className = 'btn-success'; document.getElementById('{{post.username}}').innerText = '&nbsp; Free'} else{document.getElementById('{{post.username}}').className = 'glyphicon glyphicon-remove-sign';document.getElementById('{{post.username}}').innerText = '&nbsp; Freeze';document.getElementById('{{post.username}}+{{post.nickname}}').className = 'btn-warning'}"><span id = "{{post.username}}"class="glyphicon glyphicon-remove-sign">&nbsp; Freeze</span></button>
										</div>
									</div>
									
								</div>
							</div>	
						</div>
						
					  </div>
					  
						
					  </div>
					{% endfor %}  
					</div>

				</div>
			</div>
        </div>
      </div>
    </div>


{% endblock %}