{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class = "container-fluid">
	<div class = "row">
			<div class="col-sm-3 col-md-2">
						<div class="thumbnail">							
							<div class="row">
								<div class="col-md-3">
									<!--Profile picture-->
									<img src="/static/pic/icon.jpg" height="130" width="130"></img>
									<h3>Wiki_ki {{ nickname }}</h3>
									<h4>ZhuWeiKai {{username}}</h4>
									<div class="col-md-6">
									<label for="friendcard" id="email"><h5><small><span class="glyphicon glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wkzhu11@fudan.edu.cn</small></h5></label>
									</div>
								</div>
								
							</div>
						</div>
			</div>
		<div class = "col-sm-12 col-md-8">
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" class="form-control">
					<span class="input-group-btn">
					<button class="btn btn-default" type="button">Share it!</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<br>
			<br>
			<br>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#">Home</a></li>
				<li role="presentation"><a href="#">Favorite</a></li>
				<li role="presentation"><a href="#">Group</a></li>
			</ul>
			<div class = "container">
			</div>
		</div>
		<div class = "col-md-4">
		</div>
	</div>
</div>


{% endblock %}