{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		</br>
		</br>
		</br>
		<div class="col-sm-3 col-md-8 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">welcome to Weibo.Zhuoyou , {{ nickname }}!</</h3>
				</div>
				<div class="panel-body">
					<p class="navbar-text">Just a second, or <a href="/home" class="navbar-link">click here</a> to edit your prifile!</p>
				</div>
			</div>
		</br>
		</br>
		</br>

		</div>
	</div>
</div>


{% endblock %}